<div class="content cart">
  <h1>Ваша корзина</h1>

  <div class="phone">Тел.: (845-2) 25-49-90</div>

  <%= form_for @order, :url => update_cart_path do |order_form| %>
    <table class="order-items">
      <thead>
        <tr>
          <td><div class="lc"></div>Товар</td>
          <td>Кол-во</td>
          <td>Цена</td>
          <td>Скидка</td>
          <td class="rt">Стоимость</td>
          <td>Удалить<div class="rc"></div></td>
        </tr>
      </thead>

      <tbody>
        <%= order_form.fields_for :line_items do |item_form| %>
          <% line_item = item_form.object %>
          <% variant = line_item.variant %>
          <tr>
            <td class="name"><b><%= link_to variant.name, variant.product %></b></td>
            <td class="quantity"><%= item_form.number_field :quantity, :min => 0, :size => 2, :class => 'quantity' %></td>
            <td class="price"><%= format_price line_item.price %></td>
            <td class="discount"></td>
            <td class="cost"><%= format_price line_item.amount %></td>
            <td class="delete">
              <%= link_to image_tag('icons/delete.png'), '#', :class => 'delete', :id => "delete_#{dom_id(line_item)}" %>
            </td>
          </tr>
        <% end %>

        <tr class="total">
          <td colspan="4" align="right">Итого:</td>
          <td class="cost"><%= @order.total %></td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <div class="update">
      <%= submit_tag 'Пересчитать' %>
    </div>
  <% end %>

  <div class="note">Доставка по Саратову бесплатно!</div>

  <% unless @order.line_items.empty? %>
    <%= form_for @order, :url => update_checkout_path(:contacts) do |checkout_form| %>
      <%= render :partial => 'spree/checkout/contacts', :locals => { :form => checkout_form } %>

      <div class="submit">
        <%= submit_tag 'Оформить заказ' %>
      </div>
    <% end %>
  <% end %>
</div>
