<div class="content cart">
  <%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>

  <h1>Оформление заказа</h1>

  <%= render :partial => 'spree/shared/order_items', :locals => { :items => @order.line_items } %>

  <%= form_for @order, :url => update_checkout_path(:contacts) do |checkout_form| %>
    <%= render :partial => 'spree/checkout/contacts', :locals => { :form => checkout_form } %>

    <div class="submit">
      <%= submit_tag 'Оформить заказ' %>
    </div>
  <% end %>
</div>

