<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<% if @error_message %>
  <div class="flash error">
    <%= @error_message %>
  </div>
<% end %>

<h1><%= t(:product_import) %></h1>

<% if @status.present? %>
  <%= render :partial => 'process' %>
<% else %>
  <%= render :partial => 'form' %>
<% end %>

