<% content_for :head do %>
<script type="text/javascript" src="http://userapi.com/js/api/openapi.js?49"></script>

<script type="text/javascript">
  // VK.init({apiId: 3009106, onlyWidgets: true});
  VK.init({apiId: 3009165, onlyWidgets: true});
</script>

<meta property="og:title" content="<%= product.name %>" />
<meta property="og:type" content="product" />
<meta property="og:url" content="<%= product_url(product) %>" />
<% if product.images.first %>
<meta property="og:image" content="<%= product.images.first.attachment.url %>" />
<% end %>
<meta property="og:site_name" content="Werdau.ru" />
<meta property="fb:admins" content="100000422507731" />
<% end %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="content product">
  <h1>
    <%= product.name %>
    <% unless product.sku.blank? %>
      <span class="sku">Код: <%= product.sku %></span>
    <% end %>
  </h1>

  <div class="info">

    <div class="images">

      <div class="main">
        <% unless product.images.empty? %>
          <%= link_to product_image(product), product_images_path(product, :current => product.images.first.id), :rel => 'product', :class => 'main_image' %></a>
          <span class="zoom"></span>
        <% else %>
          <%= product_image(product) %></a>
        <% end %>

        <%= render :partial => 'spree/shared/rating', :locals => { :product => product } %>
      </div>

      <ul class="small">
        <% for image in product.images[1, 4] || [] %>
          <li><%= link_to image_tag(image.attachment.url(:mini)), product_images_path(product, :current => image.id), :rel => 'product' %></a></li>
        <% end %>
      </ul>
    </div>

    <div class="description">
      <p><%= raw product.description %></p>

      <div class="share">
        Поделиться ссылочкой: <br />

        <div id="vk_like" style="clear:none !important; display: inline-block;"></div>
        <script type="text/javascript">
        VK.Widgets.Like("vk_like", {type: "mini"});
        </script>

        <div class="fb-like"
             style="display: inline-block;"
             data-send="false"
             data-layout="button_count"
             data-width="200" 
             data-show-faces="false" 
             data-font="arial">
        </div>

      </div>

      <div class="price-block">
        <span class="slogan">Успей купить</span>
        <span class="price"><%= format_price(product.price) %></span>
        <%= purchase_button_for product %>
      </div>

      <div class="submenu">
        <ul>
          <li><a href="#">Купить в кредит</a></li>
          <li><a href="#">Следить за этим товаром</a></li>
          <li><%= bookmark_link product.master %></li>
          <li><a href="/shipping" target="_blank">Доставка по Саратову</a></li>
          <li><span class="ntxt">* Привезем без предоплаты</span></li>
        </ul>
      </div>

    </div>

  </div>

  <dl class="compare-block">
    <dd class="compare-bt"><a href="/" class="comp-button"><span></span>Сравнить</a></dd>
    <dd>Звонок с сайта!<br /><span class="phone"><a href="/">(044) 206 206 9 </a></span></dd>
    <dd>Не дозвонились?<br /><span class="recall"><a href="/">Мы вам перезвоним!</a></span></dd>
    <dd>Косультант сайта<br /><span class="question"><a href="/">Задайте вопрос!</a></span></dd>
  </dl>

  <div class="note">
    Внимание! Комплектация техники в обзоре может отличаться от настоящей. Детали уточняйте у менеджеров магазина или в подробных описаниях на сайте.
  </div>

  <nav class="product_content">
    <ul>
      <li><%= link_to_unless_current 'Характеристики', product_path(product) %></li>
      <li><%= link_to_unless_current "Отзывы (#{product.reviews_count})", product_reviews_path(product) %></li>
    </ul>
    <div style="clear: both;"></div>
  </nav>

  <%= yield :product_content %>

  <div class="note">
    Мы признательны вам за помощь в поддержке актуальности информации на сайте. 
    Если Вы заметили ошибки, опечатки или неточности в описании "<%= product.name %>", пожалуйста, сообщите нам.
  </div>

</div>

<%= render :partial => 'spree/shared/working_hours' %>
<%= render :partial => 'spree/shared/viewed_recently' %>
<%= render :partial => 'spree/shared/auction' %>

