
<% content_for :product_content do %>
  <div class="technical-description">
    <% first_property = true %>
    <% for product_property in @product_properties %>
      <% if /^=/ =~ product_property.property_name %>
        <% unless first_property %>
          </table>
        <% end %>
        <h2><%= product_property.property.presentation %></h2>
        <% first_property = true %>
      <% else %>
        <% if first_property %>
          <table>
        <% end %>
        <% css_class = cycle('even', 'odd') %>
        <tr class="<%= css_class %>">
          <th><%= product_property.property.presentation %></th>
          <td><%= product_property.value %></td>
        </tr>
        <% first_property = false %>
      <% end %>
    <% end %>
    <% unless first_property %>
      </table>
    <% end %>
  </div>

  <ul class="submenu2">
    <li>- <a href="#">Читайте отзывы других пользователей</a></li>
    <li>- <a href="#">Оставьте свой отзыв</a></li>
    <li>- <a href="#">Сравните с другим товаром</a></li>
  </ul>

  <div class="product-info bottom">
    <div class="product-name"><%= @product.name %></div>

    <div class="image">
      <%= mini_image(@product) %>
    </div>

    <div class="price-block">
      <span class="slogan">Успей купить</span>
      <span class="price"><%= format_price(@product.price) %></span>
      <%= purchase_button_for @product %>
    </div>

  </div>
<% end %>

<%= render :partial => 'spree/shared/product_reviews', :locals => { :product => @product } %>
<%= render :partial => 'spree/products/layout', :locals => { :product => @product } %>

