
<div id="footer"> 

  <div class="copy">&copy;  COPYRIGHT 2012
  <br />Российский интернет магазин 
  <br />Телефон в Саратове   (845-2) 25-49-90
  </div>

  <div class="bmenu">
    <a href="/about">О нас</a> |
    <a href="/shipping">Доставка</a> |
    <a href="/contacts">Контакты</a> |
    <a href="<%= forum.root_path %>">ФОРУМ</a> |
    <a href="/">Оплата </a> |
    <a href="/">Гарантии</a>
  </div>

</div>

<div class="bpanel">
  <%= bpanel_account_tab %>
  <%= bpanel_compare_tab %>
  <%= bpanel_bookmarks_tab %>
  <%= bpanel_viewed_recently_tab %>
  <%= bpanel_cart_tab %>
  <a href="/" class="l6"><span class="call">Позвонить с сайта</span><span>достаточно кликнуть!</span></a>

</div>
