<nav class="top-nav">
  <ul>
    <li><a href="/about">О компании</a></li>
    <li><a href="/shipping">Доставка</a></li>
    <li><a href="/contacts">Контакты</a></li>
    <li><a href="/payments">Оплата</a></li>
    <li><a href="/warranty">Гарантии</a></li>
  </ul>
</nav>

<% if current_user %>
  <div class="logout"><%= link_to 'Выйти', destroy_user_session_path %></div>
<% else %>
  <div class="login"><%= link_to 'Вход для клиентов', login_path, :remote => true %></div>
<% end %>

<header>
  <div class="logo">
    <a href="/">
      <%= image_tag 'store/logo.png' %>
      <span>г. Саратов</span>
    </a>
  </div>

  <div class="search">
    <%= form_tag products_url, :method => :get do %>
      <%= search_field_tag :keywords, params[:keywords], :placeholder => "Найти легко! Поиск товара." %>
      <%= submit_tag "Найти", :name => nil %>
      <%# <a href="/">Найти</a> %>
    <% end %>
  </div>

  <div class="contacts">
    <div class="phone"><span>т.</span> (8452) 25-49-90</div>
    <a href="/" class="callback">Услуга "Обратный звонок"</a>
  </div>

  <div class="notice">
    <span>Оплата при получении.</span>
    <span class="ship">Доставка на следующий день.</span>
  </div>

  <%= render :partial => 'spree/shared/cart_header' %>
</header>

<div class="photoline"></div>

<% cache 'main_product_categories_menu' do %>
<nav id="product-categories">
  <ul class="level1">
    <% Spree::Taxonomy.find_by_name('Категории').root.children.each do |taxon1| %>
    <li>
      <%= link_to image_tag(taxon1.icon.url) + content_tag('span', taxon1.name), seo_url(taxon1) %>

      <% if taxon1.children.size > 0 %>
      <div class="border-fix"></div>
      <ul class="level2">
        <% taxon1.children.each do |taxon2| %>
        <li>
          <%= image_tag(taxon2.icon.url)  %>
          <%= link_to taxon2.name, seo_url(taxon2) %>
          
          <% if taxon2.children.size > 0 %>
          <ul class="level3">
            <% taxon2.children.each do |taxon3| %>
            <li><%= link_to taxon3.name, seo_url(taxon3) %></li>
            <% end %>
          </ul>
          <% end %>

        </li>
        <% end %>
      </ul>
      <% end %>

    </li>
    <% end %>
  </ul>
</nav>
<% end %>

<div style="clear: both; border-top: 5px solid #56C5F2;"/>

<%= yield :advertisement %>

<div style="clear: both;" />

