<nav class="top-nav">
  <ul>
    <li><a href="/about">О компании</a></li>
    <li><a href="/shipping">Доставка</a></li>
    <li><a href="/contacts">Контакты</a></li>
    <li><a href="/payments">Оплата</a></li>
    <li><a href="/warranty">Гарантии</a></li>
  </ul>
</nav>

<div class="tbar">
  <div class="enter"><a href="/">Вход для клиентов</a></div>
</div>

<div id="header">
  <p class="logo">
    <a href="/">
      <%= image_tag 'store/logo.png' %>
      <span>г. Саратов</span>
    </a>
  </p>

  <div class="search">
    <input type="text" value="Найти легко! Поиск товара." /><a href="/">Найти</a>
  </div>

  <div class="contacts">
    <div class="phone"><span>т.</span> (8452) 25-49-90</div>
    <a href="/" class="callback">Услуга "Обратный звонок"</a>
  </div>

  <div class="notice">
    <span>Оплата при получении.</span>
    <span class="ship">Доставка на следующий день.</span>
  </div>

  <div class="cart">
    <h2>Корзина</h2>
    <div class="icon"></div>      <!--div class="icon act"></div-->
    <div class="cont">
    Пока пусто...
    <p>Самое время что-то купить </p>
    </div>
  </div>

</div>

<div class="photoline"></div>

<nav id="mainmenu">
  <ul class="mainmenu">
    <% Spree::Taxonomy.find_by_name('Товары').root.children.each do |taxon| %>
    <li>
      <%= link_to image_tag(taxon.icon.url(:normal)) + content_tag('span', taxon.name), seo_url(taxon) %>

      <% if taxon.children.size > 0 %>
      <ul class="submenu">
        <% taxon.children.each do |sub_taxon| %>
        <li>
          <%= image_tag(sub_taxon.icon.url(:normal))  %>
          <%= link_to sub_taxon.name, seo_url(sub_taxon) %>
          
          <% if sub_taxon.children.size > 0 %>
          <ul class="subsubmenu">
            <% sub_taxon.children.each do |sub_sub_taxon| %>
            <li><%= link_to sub_sub_taxon.name, seo_url(sub_sub_taxon) %></li>
            <% end %>
          </ul>
          <% end %>

        </li>
        <% end %>
      </ul>
      <% end %>

    </li>
    <% end %>
  </ul>
</nav>

