<div id="cart_header" class="cart">
  <% order = current_order(false) %>
  <h2>Корзина</h2>
  <a href="<%= cart_path %>" class="icon <%= 'act' if order && order.item_count > 0 %>"></a>
  <div class="cont">
    <% if order && !order.line_items.empty? %>
      В корзине <%= ru_quantify order.item_count, '%d товар', '%d товара', '%d товаров' %><br />
      на сумму <%= format_price order.total %>
    <% else %>
      Пока пусто...
      <p>Самое время что-то купить </p>
    <% end %>
  </div>

  <% if order && !order.line_items.empty? %>
    <div id="cart_header_contents">
      <div class="heading">В вашей корзине</div>
      <table>
        <% for line_item in order.line_items %>
          <tr>
            <td class="image">
              <%= mini_image line_item.product %>
            </td>
            <td class="product">
              <%= link_to line_item.product.name, line_item.product %>
              <br/>
              <span class="price">
                <%= format_price line_item.price %>
              </span>
            </td>
            <td class="quantity">
              <%= line_item.quantity %> шт.
            </td>
          </tr>
        <% end %>
      </table>

      <div class="summary">
        Всего <%= ru_quantify order.item_count, '%d товар', '%d товара', '%d товаров' %>
        на сумму <%= format_price order.total %><br/>
        <%= link_to 'Открыть корзину', cart_path, :class => 'open_cart' %>
      </div>
    </div>
  <% end %>
</div>


