
<div id="footer"> 

  <div class="copy">&copy;  COPYRIGHT 2012
  <br />Российский интернет магазин 
  <br />Телефон в Саратове   (8452) 25-49-90
  </div>

  <div class="bmenu">
    <a href="/about">О нас</a> |
    <a href="/shipping">Доставка</a> |
    <a href="/contacts">Контакты</a> |
    <a href="<%= forem.root_path %>">ФОРУМ</a> |
    <a href="/">Оплата </a> |
    <a href="/">Гарантии</a>
  </div>

</div>

<div class="bpanel">
  <ul>
    <li><%= bpanel_account_tab %></li>
    <li><%= bpanel_compare_tab %></li>
    <li><%= bpanel_bookmarks_tab %></li>
    <li><%= bpanel_viewed_recently_tab %></li>
    <li><%= bpanel_cart_tab %></li>
    <li><a href="/" class="l6"><span class="call">Позвонить с сайта</span><span>достаточно кликнуть!</span></a></li>
  </ul>

  <div id="recently_viewed_products" style="display: none;">
    <h2>Просмотренные товары</h2>
    <% if get_recently_viewed_products %>
      <ul>
        <% for product in get_recently_viewed_products %>
          <li>
            <%= link_to mini_image(product) + content_tag(:span, product.name, :class => 'name'),
                        product, :title => product.name %>
            <span class="price"><%= money product.price %></span>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
