
<div id="footer"> 

  <div class="copy">&copy;  COPYRIGHT 2012
  <br />Российский интернет магазин 
  <br />Телефон в Саратове   (8452) 25-49-90
  </div>

  <div class="bmenu">
    <a href="/about">О нас</a> |
    <a href="/shipping">Доставка</a> |
    <a href="/contacts">Контакты</a> |
    <%#= link_to 'ФОРУМ', forem.root_path %>
    <a href="/">Оплата </a> |
    <a href="/">Гарантии</a>
  </div>
  <!--LiveInternet counter--><script type="text/javascript"><!--
  document.write("<a rel='nofolow' href='http://www.liveinternet.ru/click' "+
  "target=_blank><img src='//counter.yadro.ru/hit?t14.1;r"+
  escape(document.referrer)+((typeof(screen)=="undefined")?"":
  ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
  screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
  ";h"+escape(document.title.substring(0,80))+";"+Math.random()+
  "' alt='' title='LiveInternet: показано число просмотров за 24"+
  " часа, посетителей за 24 часа и за сегодня' "+
  "border='0' width='88' height='31'><\/a>")
  //--></script><!--/LiveInternet-->
  <!--Rating@Mail.ru counter-->
  <script language="javascript" type="text/javascript"><!--
  d=document;var a='';a+=';r='+escape(d.referrer);js=10;//--></script>
  <script language="javascript1.1" type="text/javascript"><!--
  a+=';j='+navigator.javaEnabled();js=11;//--></script>
  <script language="javascript1.2" type="text/javascript"><!--
  s=screen;a+=';s='+s.width+'*'+s.height;
  a+=';d='+(s.colorDepth?s.colorDepth:s.pixelDepth);js=12;//--></script>
  <script language="javascript1.3" type="text/javascript"><!--
  js=13;//--></script><script language="javascript" type="text/javascript"><!--
  d.write('<a href="http://top.mail.ru/jump?from=1799882" target="_top">'+
  '<img src="http://d6.c7.bb.a1.top.mail.ru/counter?id=1799882;t=49;js='+js+
  a+';rand='+Math.random()+'" alt="Рейтинг@Mail.ru" border="0" '+
  'height="31" width="88"><\/a>');if(11<js)d.write('<'+'!-- ');//--></script>
  <noscript><a target="_top" href="http://top.mail.ru/jump?from=1799882">
  <img src="http://d6.c7.bb.a1.top.mail.ru/counter?js=na;id=1799882;t=49" 
  height="31" width="88" border="0" alt="Рейтинг@Mail.ru"></a></noscript>
  <script language="javascript" type="text/javascript"><!--
  if(11<js)d.write('--'+'>');//--></script>
  <!--// Rating@Mail.ru counter-->

</div>

<div class="bpanel">
  <ul>
    <li><%= bpanel_account_tab %></li>
    <li><%= bpanel_compare_tab %></li>
    <li><%= bpanel_bookmarks_tab %></li>
    <li><%= bpanel_viewed_recently_tab %></li>
    <li><%= bpanel_cart_tab %></li>
    <li><a href="/" class="l6"><span class="call">Позвонить с сайта</span><span>достаточно кликнуть!</span></a></li>
  </ul>

  <div id="recently_viewed_products" style="display: none;">
    <h2>Просмотренные товары</h2>
    <% if get_recently_viewed_products %>
      <ul>
        <% for product in get_recently_viewed_products %>
          <li>
            <%= link_to mini_image(product) + content_tag(:span, product.name, :class => 'name'),
                        product, :title => product.name %>
            <span class="price"><%= money product.price %></span>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>
