<% unless taxon.product_filters.empty? %>
  <% content_for :sidebar do %>
    <%= section_title 'Фильтры' %>
    <div id="product_filters">
      <form method="get">
        <% for filter in taxon.product_filters.indexed %>
          <%
            filter_name = "filter_#{filter.id}"
            filter_values = Array(params[filter_name])
          %>

          <h3><%= filter.title %></h3>
          <ul class="options">
            <% @searcher.result.facet(filter_name).rows.each_with_index do |row, i| %>
              <li>
                <% selected = filter_values.include?(row.value.to_s) %>
                <%= check_box_tag "#{filter_name}[]", row.value, selected, :disabled => (!selected && (row.count == 0)), :id => "#{filter_name}_#{i}" %>
                <% if selected %>
                  <span class="selected"><%= row.value %></span>
                  <%= link_to 'Удалить', filter_values.size == 1 ? params.reject {|k,v| k == filter_name } : params.merge(filter_name => filter_values.reject { |v| v == row.value.to_s }), :class => 'delete', :title => 'Удалить ограничение' %>
                <% else %>
                  <%= link_to_if row.count > 0, row.value, params.merge("#{filter_name}[]" => row.value) %>
                <% end %>
                <% if row.count > 0 %>
                  <span class="count">
                    (<%= '+' unless filter_values.empty? || selected %><%= row.count %>)
                  </span>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>
        <input type="submit" value="Выбрать" />
      </form>
    </div>
  <% end %>
<% end %>
