<% content_for :sidebar do %>
  <%= section_title 'Отзывы' %>
  <% for review in product.reviews.approved.limit(5) %>
    <div class="review">

      <div class="customer-name"><%= review.name %> <span><%= l review.created_at, :format => :short %></span></div>

      <span class="stars ran<%= review.rating %>"></span> <br />

      <% if review.usage_period_value %>
        <p class="experience">Опыт использования: <%= t(review.usage_period_unit, :count => review.usage_period_value) %></p>
      <% end %>

      <p><b>Достоинства:</b><br />
      <%= review.pros %>
      </p>

      <p><b>Недостатки:</b><br />
      <%= review.cons %>
      </p>

      <p><b>Комментарий:</b><br />
      <%= review.review %>
      </p>
    </div>
  <% end %>
  <%= link_to 'Оставить отзыв', new_product_review_path(product) %> /
  <%= link_to 'Посмотреть все отзывы', product_reviews_path(product) %>
<% end %>
