<% if defined?(taxon) %>
<%= render :partial => 'spree/shared/product_filters', :locals => { :taxon => taxon } %>
<% end %>

<div class="listing-controls">
  <span class="lc"></span>

  <div class="view-mode">
    Отображение:
    <select name="view-mode">
      <option value="list" selected="true">списком</option>
      <option value="grid">сеткой</option>
    </select>
  </div>

  <div>
    <span>Сортировка:</span>
    <%= order_link 'по наименованию', :name, :default => true %>
    <%= order_link 'по цене', :price %>
    <%= order_link 'по рейтингу', :rating %>
  </div>

  <span class="rc"></span>
</div>

<ol id="products" class="product-list">
  <%= render :partial => 'spree/shared/product', :collection => products %>
</ol>
<div id="pageless-loader" style="display: none; text-align: center; width: 100%;">
  <div class="msg" style="color:#e9e9e9;font-size:2em;">Загрузка товаров</div>
</div>

<script>
  $('#products').pageless({
    totalPages: <%= products.num_pages %>,
    loader: $('#pageless-loader')
  })
</script>

<dl class="compare-block-2">
<h1>Трудно сделать выбор? Мы вам поможем!</h1>
  <dd>Звонок с сайта!<br /><span class="phone"><a href="/">(044) 206 206 9 </a></span></dd>
  <dd>Не дозвонились?<br /><span class="recall"><a href="/">Мы вам перезвоним!</a></span></dd>
  <dd>Косультант сайта<br /><span class="question"><a href="/">Задайте вопрос!</a></span></dd>
</dl>

