<li class="product">

  <span class="name"><%= link_to product.name, product %></span>

  <%= link_to product_image(product), product, :class => 'image' %>

  <div class="price-block">
    <%= format_price product.price %>
    <%= purchase_button_for product %>
  </div>

  <div class="descr"><%= raw product.description %></div>

  <div class="more-dscr">
    <a href="#">Оставить отзыв</a>
  </div>
  
  <div class="options">          
    <a href="#" class="sbcompare">К сравнению</a>
    <%= bookmark_link product.master %>
  </div>
</li>

