  <% content_for :advertisement do %>
  
    <div class="mainact">

      <div class="advertisement">
  	    
        <% advertistement = Spree::Advertisement.find(:all, :order => "RAND()").first %>

        <%= image_tag advertisement.gorizontal_image.url if advertisement %>
<!--
        <ul class="pager">
          <li><a class="prev" href="/">&nbsp;</a></li>
          <li><a href="/">1</a></li>
          <li><a href="/">2</a></li>
          <li><a href="/">3</a></li>
          <li><a href="/">4</a>....</li>
          <li><a href="/">15</a></li>
          <li><a class="next" href="/">&nbsp;</a></li>
        </ul>
-->
      </div>

      <nav class="additional">
        <ul>
          <li><a href="/service">Сервисные центры</a></li>
          <li><a href="/news/advices">Советы потребителю</a></li>
          <li><a href="/news/info">Новости магазина</a></li>
          <li><a href="/news/tech">Новости техники</a></li>
          <li><a class="callcenter" href="/"><span>Консультация сайта ONLINE" <span/></a></li>
        </ul>
      </nav>

    </div>
  <% end %>

  <%= render :partial => 'spree/shared/working_hours' %>
  <%= render :partial => 'spree/shared/viewed_recently' %>
  <%= render :partial => 'spree/shared/auction' %>

  <div class="content index">

    <div class="col-1">
      <h1>Мы рекомендуем</h1>
      <% if taxon_recommend %>
      <div id="recommendations">
        <% for product in taxon_recommend.products.limit(4) %>
        <div class="product">
          <% taxon = categories_taxon(product) %>
          <h2><%= link_to taxon.name, seo_url(taxon) %></h2>
          <%= link_to tiny_image(product) + 
                      content_tag(:span, product.name, :class => 'name') +
                      content_tag(:span, number_to_currency(product.price), :class => 'price'), product %>
        </div>
        <% end %>
      </div>
      <% end %>
    </div><!-- end col-1 -->

    <div class="col-2">

      <div class="news">

        <h2>Новости магазина</h2>
        <% category = Spree::NewsItem::Category::NEWS_INFO %>
        <% news_item = Spree::NewsItem.from_category(category).last %>
        <% unless news_item.nil? %>
          <p class="date"><span><%= l(news_item.created_at.to_date) %></span></p>
          <p class="pre"><%= link_to news_item.title, news_item_path(news_item) %></p>
        <% end %>
        <p class="all"><%= link_to "Все #{category.name.downcase}", news_item_category_path(category) %></p>        

        <h2>Новости техники</h2>
        <% category = Spree::NewsItem::Category::NEWS_TECH %>
        <% news_item = Spree::NewsItem.from_category(category).last %>
        <% unless news_item.nil? %>
          <p class="date"><span><%= l(news_item.created_at.to_date) %></span></p>
          <p class="pre"><%= link_to news_item.title, news_item_path(news_item) %></p>
        <% end %>
        <p class="all"><%= link_to "Все #{category.name.downcase}", news_item_category_path(category) %></p>  
      </div>

    </div><!-- end col-2 -->

    <div id="about">

      <div class="corner"></div>

      <div class="textpage">

        <h3>Почему Werdau.ru? Отзывы наших покупателей </h3>

        <%= raw Spree::Page.find_by_slug('/reviews').body %>

        <p><%= link_to 'Форум Werdau.ru', forem.root_path %></p>

      </div>

    </div>

  </div><!-- end content index -->

