
  <nav id="mainmenu">
    <ul class="mainmenu">
      <% Spree::Taxonomy.find_by_name('Товары').root.children.each do |taxon| %>
      <li>
        <%= link_to image_tag(taxon.icon.url(:normal) || asset_path('store/default_taxon.png')) + content_tag('span', taxon.name), seo_url(taxon) %>

        <% if taxon.children.size > 0 %>
        <ul class="submenu">
          <% taxon.children.each do |sub_taxon| %>
          <li>
            <%= image_tag(sub_taxon.icon.url(:normal) || asset_path('store/default_taxon.png'))  %>
            <%= link_to sub_taxon.name, seo_url(sub_taxon) %>
            
            <% if sub_taxon.children.size > 0 %>
            <ul class="subsubmenu">
              <% sub_taxon.children.each do |sub_sub_taxon| %>
              <li><%= link_to sub_sub_taxon.name, seo_url(sub_sub_taxon) %></li>
              <% end %>
            </ul>
            <% end %>

          </li>
          <% end %>
        </ul>
        <% end %>

      </li>
      <% end %>
    </ul>
  </nav>

  <div class="content index">

    <div class="compare">
      Ожидают сравнения: <a href="/">Ноутбуки</a> [2] <a href="/" class="del"></a>
    </div>

    <div class="mainact">

      <a href="/"><%= image_tag 'store/promo/1.jpg' %></a>
      <div class="nav">
        <a class="next" href="/">&nbsp;</a>
        <a href="/">1</a><a href="/">2</a><a href="/">3</a><a href="/">4</a>....<a href="/">15</a>
        <a class="last" href="/">&nbsp;</a>
      </div>

      <div class="additionalnav">
        <a href="/sale">Распродажа</a><br />
        <a href="/vacancies">Вакансии</a><br />
        <a href="/service">Сервисные центры</a><br />
        <a href="/advices">Советы потребителю</a><br />
        <a href="/news">Новости</a><br />
        <a href="/mobile">Мобильная версия</a><br />

        <a class="callcenter" href="/"><span>Косультация сайта ONLINE" <span/></a>

      </div>

    </div>

    <div class="col-1">
      <h1>Мы рекомендуем</h1>
      <div class="recommendations">
        <div class="good">
          <h2><a href="/">Объективы</a></h2>
          <a href="/">
           <img src="img/goods/1.jpg" alt="" />
           <span class="price">3'276 Р.</span>
           <span class="name">Dell Streak Mini 5 Red (210-33300)</span>
          </a>
        </div>
        <div class="good">
          <h2><a href="/">Объективы</a></h2>
          <a href="/">
           <img src="img/goods/1.jpg" alt="" />
           <span class="price">3'276 Р.</span>
           <span class="name">Dell Streak Mini 5 Red (210-33300)</span>
          </a>
        </div>
        <div class="good">
          <h2><a href="/">Объективы</a></h2>
          <a href="/">
           <img src="img/goods/1.jpg" alt="" />
           <span class="price">3'276 Р.</span>
           <span class="name">Dell Streak Mini 5 Red (210-33300)</span>
          </a>
        </div>
        <div class="good">
          <h2><a href="/">Объективы</a></h2>
          <a href="/">
           <img src="img/goods/1.jpg" alt="" />
           <span class="price">3'276 Р.</span>
           <span class="name">Dell Streak Mini 5 Red (210-33300)</span>
          </a>
        </div>
      </div>
    </div><!-- end col-1 -->

    <div class="col-2">

      <div class="news">

        <div class="promo">
          <h2>Акции</h2>
          <% category = Spree::NewsItem::Category::PROMO %>
          <% Spree::NewsItem.active.from_category(category).limit(2).each do |news_item| %>
            <p class="date"><span><%= l(news_item.active_from) %></span></p>
            <p class="pre"><%= link_to news_item.title, news_item_path(news_item) %></p>
          <% end %>
          <p class="all"><%= link_to "Все #{category.name.downcase}", news_item_category_path(category) %></p>
        </div>

        <h2>Новости магазина</h2>
        <% category = Spree::NewsItem::Category::NEWS %>
        <% Spree::NewsItem.active.from_category(category).limit(4).each do |news_item| %>
          <p class="date"><span><%= l(news_item.active_from) %></span></p>
          <p class="pre"><%= link_to news_item.title, news_item_path(news_item) %></p>
        <% end %>
        <p class="all"><%= link_to "Все #{category.name.downcase}", news_item_category_path(category) %></p>        
      </div>

      <div class="about">

        <div class="corner"></div>

        <div class="textpage">

          <h3>Почему Werdau.ru? Отзывы наших покупателей </h3>

          <p>Vivat "Werdau"!.. Всё быстро, качественно, без обмана.. :) И цены весьма радуют, не говоря уже об акциях, надеюсь не раз ещё обращаться в сей прекрасный магазин... Спасибо.

          <p><b>О магазине.</b>
          <p>По поводу данного интернет-магазина. Делая заказ, я нашел его случайно. Были сомнения, теперь твердо уверен заказывать товар только у них. Радуют приятные цены. После оформления заказа сразу перезвонили, уточнили все детали. Товар в отменном качестве на след. день был у меня. 

          <p><a href="/">Форум Werdau.ru></p>

          <p class="more"><a href="/">Развернуть </a></p>

        </div>

      </div>

    </div><!-- end col-2 -->

    <div class="col-3">

      <h2><span class="lc"></span>Часы работы<span class="rc"></span></h2>
      <div class="schedule">

        <div class="tab"><span>Обслуживание звонков:</span>
          <div>
            <a href="/">  Доставка товаров</a>
            <a href="/">Прием посетителей</a>
          </div>
        </div>

        <p class="day">Пн - Пт<br />Сб<br />Вс</p>
        <p class="time">9 - 21<br />10 - 17<br />10 - 16</p>

      </div>

      <h2><span class="lc"></span>Просмотренные товары<span class="rc"></span></h2>

        <ul class="justwatched">
        <li>
          <a href="/">
            <img src="img/goods/1.jpg" width="50px" alt="" />
            <span class="name">Dell Inspiron N5110 (N5110HiB960X3C500BDSblack)</span>
            <span class="price">3'793 грн.</span>
          </a>
        </li>
        <li>
          <a href="/">
            <img src="img/goods/1.jpg" width="50px" alt="" />
            <span class="name">Dell Inspiron N5110 (N5110HiB960X3C500BDSblack)</span>
            <span class="price">3'793 грн.</span>
          </a>
        </li>
        <li>
          <a href="/">
            <img src="img/goods/1.jpg" width="50px" alt="" />
            <span class="name">Dell Inspiron N5110 (N5110HiB960X3C500BDSblack)</span>
            <span class="price">3'793 грн.</span>
          </a>
        </li>
        <li>
          <a href="/">
            <img src="img/goods/1.jpg" width="50px" alt="" />
            <span class="name">Dell Inspiron N5110 (N5110HiB960X3C500BDSblack)</span>
            <span class="price">3'793 грн.</span>
          </a>
        </li>
        <li>
          <a href="/">
            <img src="img/goods/1.jpg" width="50px" alt="" />
            <span class="name">Dell Inspiron N5110 (N5110HiB960X3C500BDSblack)</span>
            <span class="price">3'793 грн.</span>
          </a>
        </li>
        <li>
          <a href="/">
            <img src="img/goods/1.jpg" width="50px" alt="" />
            <span class="name">Dell Inspiron N5110 (N5110HiB960X3C500BDSblack)</span>
            <span class="price">3'793 грн.</span>
          </a>
        </li>

        </ul>

      <h2><span class="lc"></span>Аукцион!<span class="rc"></span></h2><div class="clearright"></div>

      <div class="auction"><a href="/">
      <img src="img/goods/1.jpg" width="70" alt="" />
      <span class="name">Western Digital USB 2000Gb (WDBACW0020HBK-EESN) My Book Essential Black, 3.5"</span>
      <span class="price">200.00 р.</span>
      </a>
      </div>

    </div><!-- end col-3 -->

    <div style="clear: left;"></div>

  </div><!-- end content index -->

